services:
   mysql:
      image: mysql:8.4
      container_name: mysql
      environment:
         MYSQL_ROOT_PASSWORD: rootpass
         MYSQL_DATABASE: sampledb
         MYSQL_USER: sampleuser
         MYSQL_PASSWORD: samplepass
      ports:
      - 3306:3306
      command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
      volumes:
      - mysql_data:/var/lib/mysql
      - ./init:/docker-entrypoint-initdb.d

   phpmyadmin:
      image: phpmyadmin/phpmyadmin
      container_name: phpmyadmin
      environment:
         PMA_HOST: mysql
         PMA_USER: root
         PMA_PASSWORD: rootpass
      ports:
      - 8080:80
      depends_on:
      - mysql

volumes:
   mysql_data: null